<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintanance page</title>
    </head>
    <body>
        <h1>Server under maintainance</h1>
        <p>Sorry for inconvienance. We will be right back soon!!</p>
        
        {{> footer}}
    </body>
</html>